In [14]:
a=[['apple',10],['banana',7],['cherry',8],['dragon',6],['graph',5],['apple',20]]
apple_order=[]
for i in a:
    if i[0]=='apple':
        apple_order.append(i[1])
print(apple_order)
print(sum(apple_order))

[10, 20]
30

In [24]:
tup1=(3,50,7)
print(tup1)
print(type(tup1))

(3, 50, 7)
<class 'tuple'>

In [20]:
tup2=10,20,40,'hi',80
print(tup2)
print(type(tup2))

(10, 20, 40, 'hi', 80)
<class 'tuple'>

In [19]:
tup3=tuple([1,2,3,4])
print(tup3)
print(type(tup3))

(1, 2, 3, 4)
<class 'tuple'>

In [29]:
tup4=(10,101,10,12,10,80)
tup4.count(10)

3

In [1]:
a={'a':30,'b':40}
print(a)

{'a': 30, 'b': 40}

In [2]:
a=dict(a=10,b=10)
a

{'a': 10, 'b': 10}

In [3]:
d1={'a':10,'b':20,'c':30,'d':40}
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c', 'd'])
dict_values([10, 20, 30, 40])
dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [4]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [5]:
scores={'virat':90,'rohit':100,'rahul':70,'dhoni':100,'jadeja':60}
scores

{'virat': 90, 'rohit': 100, 'rahul': 70, 'dhoni': 100, 'jadeja': 60}

In [6]:
#add another key values pairs
scores['aswin']=60
scores

{'virat': 90,
 'rohit': 100,
 'rahul': 70,
 'dhoni': 100,
 'jadeja': 60,
 'aswin': 60}

In [7]:
#update the scores(values)
scores.update({'jadeja':80})
scores

{'virat': 90,
 'rohit': 100,
 'rahul': 70,
 'dhoni': 100,
 'jadeja': 80,
 'aswin': 60}

In [9]:
#update method can modifies the exiting data and also can assisgns or add new key values pairs
scores.update({'rahul':80, 'raju':50})
scores

{'virat': 90,
 'rohit': 100,
 'rahul': 80,
 'dhoni': 100,
 'jadeja': 80,
 'aswin': 60,
 'raju': 50}

In [12]:
#setdefault method can only take 1 key values pair
#if the value is already there in the dictionary then it just avoid it and if there is new key values provided then it will be added to thh dictionary
scores.setdefault('ramu',70)
scores

{'virat': 90,
 'rohit': 100,
 'rahul': 80,
 'dhoni': 100,
 'jadeja': 80,
 'aswin': 60,
 'raju': 50,
 'ramu': 70}

In [13]:
#removes last item
scores.popitem()
scores

{'virat': 90,
 'rohit': 100,
 'rahul': 80,
 'dhoni': 100,
 'jadeja': 80,
 'aswin': 60,
 'raju': 50}

In [14]:
#removes specified item
scores.pop('raju')
scores

{'virat': 90,
 'rohit': 100,
 'rahul': 80,
 'dhoni': 100,
 'jadeja': 80,
 'aswin': 60}

In [15]:
#used to retrive the data
scores.get('dhoni')

100

In [18]:
#creates a dictionary from the list
#id fromkeys(list)then the values will be none if we give some values then it will represent the value
list=['a','v','f','b']
mydict=dict.fromkeys(list,20)
mydict

{'a': 20, 'v': 20, 'f': 20, 'b': 20}

In [20]:
mydict.update({'a':10,'b':50})
mydict

{'a': 10, 'v': 20, 'f': 20, 'b': 50}